<?xml version="1.0" encoding="UTF-8"?>  
    <!DOCTYPE configuration   
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
<!-- STDOUT_LOGGING -->
		<setting name="logImpl" value="LOG4J"/>
		<!-- 是否启用懒加载 -->
		<setting name="lazyLoadingEnabled" value="false"/>
		<!-- 驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings> 
	
	<typeAliases>
		<!-- 这里给实体类取别名，方便在mapper配置文件中使用 -->
		<package name="com.fwzx.photovoltaicdatacollect.pojo"/>
	</typeAliases>    
	
<!-- 	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			分页参数合理化 
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins> -->
	 
     
     </configuration> 